<table>
    <tr>
       <th>Nome</th>
       <th>CPF</th>
       <th>e-mail</th>
       <th>Requisitos</th>
       <th>Gerência de Configuração</th>
    </tr>
    <tr style="margin-top:20px;" *ngFor="let a of alunos">
       <td>{{a.nome}}</td>
       <td>{{a.cpf}}</td>
       <td>{{a.email}}</td>
       <td class="autoavaliacaoAluno."><input [(ngModel)]="a.autoavaliacaoAluno.['requisitos']" (change)="atualizarAluno(a)"></td>
       <td class="autoavaliacaoAluno."><input [(ngModel)]="a.autoavaliacaoAluno.['gerDeConfiguracao']" (change)="atualizarAluno(a)"></td>
    </tr>
    </table>
    